<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216386327953-9gn6tcggu115b9fcg05931tsgnsc3vur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216386327953-9gn6tcggu115b9fcg05931tsgnsc3vur</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqC2DOjZUmmRQ0hzXG0Gk-p0xQqOLYZs</string>
	<key>GCM_SENDER_ID</key>
	<string>216386327953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iu.FilmsApplication</string>
	<key>PROJECT_ID</key>
	<string>filmsapplication-6d462</string>
	<key>STORAGE_BUCKET</key>
	<string>filmsapplication-6d462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216386327953:ios:9b9fe2a606d0ae2d14f630</string>
</dict>
</plist>